﻿@model DAL.Questionnaire

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Questionnaire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Activities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavoriteMusic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavoriteMusic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavoriteMovies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavoriteMovies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavoriteTvShows)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavoriteTvShows)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavoriteBooks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavoriteBooks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Smoking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Smoking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drinking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drinking)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
