﻿@model DAL.Questionnaire

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Questionnaire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Activities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavoriteMusic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavoriteMusic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavoriteMovies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavoriteMovies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavoriteTvShows)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavoriteTvShows)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavoriteBooks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavoriteBooks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Smoking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Smoking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drinking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drinking)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionnaireID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
