﻿@model IEnumerable<DAL.Questionnaire>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Activities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FavoriteMusic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FavoriteMovies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FavoriteTvShows)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FavoriteBooks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Smoking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drinking)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Activities)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FavoriteMusic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FavoriteMovies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FavoriteTvShows)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FavoriteBooks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Smoking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drinking)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionnaireID }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuestionnaireID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionnaireID })
        </td>
    </tr>
}

</table>
