﻿@model DAL.RoomsListViewModel

@{
    ViewBag.Title = "StudSystem";
}

<h2>Current hostel<br></h2>

<table class="table">
    <tr>
        <th>
            Size
        </th>
        <th>
            Free places
        </th>
        <th>
            Index
        </th>
        <th>
            Sex
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Rooms)
{
    @Html.Partial("RoomSummary", item)
}

</table>

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>