﻿@model Stud.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Вход в систему</h3>
    </div>
    <div class="panel-body">
        <p class="lead">Пожалуйста, войдите или <a href="@Url.Action("register", "account")">зарегестрируйтесь</a></p>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Имя пользователя:</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Пароль:</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <input type="submit" value="Войти" class="btn btn-primary" />
        }
    </div>
</div>
