﻿@model Stud.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<div class="panel">
    <div class="panel-heading">
        <h2>Регистрация</h2>
    </div>
    <div class="panel-body">
        <p class="lead">Пожалуйста, зарегистрируйтесь:</p>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Имя пользователя:</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Пароль:</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Страна:</label>
                @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
            </div>
            <input type="submit" value="Войти" class="btn btn-primary" />
        }
    </div>
</div>
