﻿@model DAL.Hostel

@{
    ViewBag.Title = "Edit";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.HostelID)

        <p>
            @Html.ActionLink("Add new room", "Create", "Rooms", new { id = Model.HostelID }, null)
        </p>

        <table class="table">
            <tr>
                <th>
                    Size
                </th>
                <th>
                    Free places
                </th>
                <th>
                    Index
                </th>
                <th>
                    Sex
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Rooms)
            {
                @Html.Partial("RoomSummary", item)
            }

        </table>
</div>
}

<div>
    @Html.ActionLink("Back to Hostels", "Index")
</div>
