﻿@model IEnumerable<DAL.Hostel>

@{
    ViewBag.Title = "Home page";
}

    <h2>Hello @CurrentUser.Name How's the weather in @CurrentUser.Country?</h2>
<p>
    <a href="@Url.Action("logout", "account")">Log Out</a>
</p>
    <h2>Hostels<br></h2>

    <p>
        <h3>@Html.ActionLink("Create New", "Create")</h3>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreePlaces)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FreePlaces)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.HostelID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.HostelID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.HostelID })
                </td>
            </tr>
        }

    </table>
