﻿@model DAL.Room

<tr class="well">
    <td>
        <span class="label label-primary">
            @Html.DisplayFor(modelItem => @Model.Size)
        </span>
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.FreePlaces)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.Index)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.Sex)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", "Rooms", new { id = @Model.RoomID }, null) |
        @Html.ActionLink("Details", "Details", "Rooms", new { id = @Model.RoomID }, null) |
        @Html.ActionLink("Delete", "Delete", "Rooms" ,new { id = @Model.RoomID }, null) |
        @Html.ActionLink("Add student", "", "", new { id = @Model.RoomID }, null)
    </td>
</tr>