﻿@model DAL.Student

<tr class="well">
   
   <td>
        <strong>@Html.DisplayFor(modelItem => @Model.Name)</strong>
    </td>
    <td>
        <strong>@Html.DisplayFor(modelItem => @Model.Surname)</strong>
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.Sex)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", "Students", new { id = @Model.StudentID }, null) |
        @Html.ActionLink("Delete", "Delete", "Students", new { id = @Model.StudentID }, null)
    </td>
</tr>